/* Описание стиля всей страницы */
div#content {
    /* Ширина - 80% от всего экрана */
    width: 80%;
    /* Рамка отсутствует */
    border: none;
    /* Выравнивание по центру занимаемой области */
    margin: auto;
}

/* Описание стиля заголовка и подвала */
header, footer {
    /* Отступ текста от края блока */
    padding: 1em;
    /* Цвет шрифта - белый */
    color: white;
    /* Цвет фона */
    background-color: #007196;
    /* Отменяет обтекание с левого края */
    clear: left;
    /* Выравнивание текста по центру */
    text-align: center;
}

/* Описание стиля блока меню */
nav {
    /* Высота блока в пикселах */
    height: 40px;
    /* Ширина и цвет линии обрамления */
    border: solid #333;
    border-width: 1px;
    text-align: center;
}

/* Описание стиля ссылки в меню */
nav a {
    /* Для ссылок используется оформление по умолчанию */
    text-decoration: none;
    padding: 1em;
}

/* Описание стиля основного блока страницы */
#main {
    padding: 1em;
}